<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Ejs testing</title>
</head>
<body>
    <% if(name==='nithin'){ %>
    <h1>hello world sended <%= name %></h1>
    <% }else{ %>
        <h1>fuck you</h1>
    <% } %>

    <ul>
    <% for(var i=0;i<list.length;i++) { %>
        <li><%= list[i] %></li>
    <% } %>
    </ul>

<form class="" action="/" method="POST">
<input type="text" name="Item">
<button name="button" type="submit">Add</button>
</form>

</body>
</html>
